.App {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px rgb(138, 138, 138);
}

.App .Header {
  display: flex;
  padding: 10px 5px;
  border-bottom: 1px solid #bebebe;
}

.App .Header input {
  font-weight: 200;
  font-size: 24px;
  border: none;
  padding-left: 10px;
  opacity: .7;
}

.App .Header img {
  margin: 0 1rem 0 1rem;
}

.App .Header input:focus {
  outline: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
